@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap-vue/dist/bootstrap-vue.css";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "./vars.scss";

body {
    font-family: $font-primary;
    color: $color-primary;
    font-weight: 300;
}

.ls-italic {
    font-family: $font-secondary;
    font-style: italic;
}

/* BUTTON STYLE */
.ls-button-text {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 3px;
    display: inline-block;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.6s ease-in-out;
    &:hover {
        color: #fff;
        background-color: #e1c0b0 !important;
    }
}

/* TITLE STYLE */
.ls-title {
    font-size: 60px;
    font-weight: 400;
    text-align: center;
}

.ls-title__italic {
    font-family: $font-secondary;
    font-style: italic;
    font-weight: bold;
}
