@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap-vue/dist/bootstrap-vue.css";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "./vars.scss";

body {
    font-family: $font-primary;
}

/* BUTTON STYLE */
.ls-button-text {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 3px;
    display: inline-block;
    padding: 20px 35px;
    border: 1px solid red;
    text-transform: uppercase;
}

/* TITLE STYLE */
.ls-title {
    font-size: 60px;
    font-weight: 400;
    text-align: center;
}

.ls-title__italic {
    font-family: $font-secondary;
    font-style: italic;
    font-weight: bold;
}
