@import "~fontsource-muli/index.css";
@import "~@fontsource/playfair-display/index.css";

$font-primary: "Muli", sans-serif;
$font-secondary: "Playfair Display", sans-serif;

$color-primary: #000;
$color-secondary: #a6a6a6;
